.all_body_main {
    background-color: rgba(250,250,250,0.76);
    flex: 1 0 auto;
}
.work_body_main {
    width: 940px;
    margin: auto;
    background-color: rgba(250,250,250,0.76);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10px;
    /*margin-top: 10px;*/
}
.foto_main {
    width: 31%;
    /*margin: 0.8% 0;*/
    position: relative;
    margin: 1%;
}
.work_body_main img {

    width: 100%;
}
.foto_info {
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}
.foto_main:hover .foto_info{
    display: flex;
    background-color: rgba(255,229,230,0.25);
    z-index: 1;
    position: absolute;
    cursor: pointer;

}
.button_main {
    width: 300px;
    margin: auto;
    padding-bottom: 10px;
}
.btn {
    background-color: rgb(70, 168, 185);;
    /*width: 100%;*/
    height: 40px;
    line-height: 1.2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: .9em;
    text-transform: uppercase;
    width: 300px;
    color: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.29, 0.98);
    transition-delay: initial;
    cursor: pointer;
}
.btn:hover {
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);

}
.btn:active {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
}

.num_like_comment {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.text_num_like {
    text-align: center;
    /*color: floralwhite;*/

    font-family: 'Raleway', sans-serif;

    font-size: 23px;
    padding: 5px 12px;
}
.text_num_like i {
    padding: 0 10px;
}

@media screen and (max-width: 1344px ) {

    .work_body_main {
        width: 75%;
    }
}


@media screen and (max-width: 992px ) {
    .work_body_main {
        width: 85%;
    }
    .foto_main {
        width: 48%;
        margin-bottom: 8px;
        /*margin: 0.8% 0;*/
    }

}
@media screen and (max-width: 600px){
    .work_body_main {
        width: 90%;
    }
    .foto_main {
        width: 100%;
        /*margin: 0.8% 0;*/
    }

}

